.banner {
  height: 460px;
  position: relative;
}

.banner-cover img {
  width: 1226px;
  height: 460px;
}

.banner-pointer {
  position: absolute;
  width: 40px;
  height: 70px;
  color: #b8c3cb;
  text-align: center;
  line-height: 70px;
  cursor: pointer;
  top: 50%;
  margin-top: -35px;
}

.banner-pointer i {
  font-size: 30px;
}

.banner-pointer:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.banner-pointer-left {
  left: 234px;
}
.banner-pointer-right {
  right: 0;
}

.banner-dots {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.banner-dots span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.3);
  margin: 0 4px;
  cursor: pointer;
}

.banner-dots span.banner-dot-active {
  border-color: rgba(0, 0, 0, 0.4);
  background-color: #ccc;
}

/* 横幅菜单 */
.banner-menu {
  width: 234px;
  height: 100%;
  background-color: rgba(105, 101, 101, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 0;
}

.banner-menu-item {
  color: #fff;
  padding: 0 20px 0 30px;
  height: 42px;
  line-height: 42px;
}

.banner-menu li:hover .banner-menu-item {
  background-color: #ff6700;
}

.banner-menu li:hover .banner-sub-menu {
  display: block;
}

.banner-sub-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 234px;
  height: 100%;
  width: 992px;
  border: 1px solid #eee;
  background: #fff;
}

.banner-sub-menu a {
  width: 25%;
  height: 16.666%;
  padding: 0 20px;
}

.banner-sub-menu a img {
  width: 40px;
  height: 40px;
  margin-top: 17px;
  margin-right: 12px;
}
.banner-sub-menu span {
  width: 154px;
  margin-top: 28px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
